[Unit]
Description=A file synchronisation deamon controlled by a web interface

[Service]
ExecStart=/usr/bin/harmopy -ic /etc/harmopy.conf

[Install]
WantedBy=multi-user.target
