body {
    padding-top: 20px;
}
.glyphicon {
    margin-right: 9px;
}

a:hover {
    text-decoration: none;
}

#files, #logs {
    font-size: x-small;
}

.bar small {
    flat: left;
    margin-left: 5px;
    margin-top: -2px;
    color: #ccc;
}

#logs li {
    font-family: monospace;
}
#logs {
    overflow: hidden;
}
