body {
    padding-top: 20px;
}
.loading {
    text-align: center;
}
.icon {
    margin-right: 5px;
}

#config .form-horizontal .control-label {
    width: 100px;
}
#config .form-horizontal .controls {
    margin-left: 110px;
}
#config .form-horizontal .controls input {
    width: 120px;
}

a:hover {
    text-decoration: none;
}
#files, #logs {
    font-size: x-small;
}

.bar small {
    flat: left;
    margin-left: 5px;
    margin-top: -2px;
    color: #ccc;
}

#logs li {
    font-family: monospace;
    list-style: none;
}
#logs ul {
    margin: 0;
}
